body {
    font-family: sans-serif;
    margin: auto;
    padding: 2rem;
    color: #ccc;
  }
  
  .contenedor {
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    background-color: #773a3a;
    height: 40vh;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  form input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  form button{
    background-color: #cec4c3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #972121;
  }

  #resultado{
    text-align: center;
  }